<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">
</head>

<body>
  <div class="global-wrapper" id="simpleViewId">
    <h2>
      Create a free point of view game
    </h2>
    <form class="needs-validated" novalidate>

      Name of the game
      <div>
        <input type="text" (blur)="nameInputVisited()" class="form-control" id="gameNameInput" #gameNameInput (change)="verifyInfo()" placeholder="Game name">
        <p id="errorMessage" *ngIf="!isNameValid()">The name has to be between 3 and 12 alphanumeric characters.</p>
      </div>
      <div class="form-group">
        <label for="sel1">Type of objects</label>
        <select class="form-control" id="sel1" #objectType (change)="verifyInfo()">
          <option>Geometric</option>
          <option>Thematic</option>
        </select>
      </div>
      Quantity of objects
      <div>
        <input type="text" (blur)="quantityInputVisited()" class="form-control" id="quantityObject" #quantityObject (change)="verifyInfo()" placeholder="Min:10 Max:200">
          <p id="erreurMessage" *ngIf="!isQuantityValid()">The quantity must be a number between 10 and 200.</p>
      </div>
      <div id="modificationTypeBloc">
        Type of modifications
        <div class="checkbox">
          <label><input type="checkbox" id="add" #add value="" (change)="verifyInfo()"> Add</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" id="remove" #remove value="" (change)="verifyInfo()"> Remove</label>
        </div>
        <div class="checkbox ">
          <label><input type="checkbox" id="modified" #modified value="" (change)="verifyInfo()"> Modified</label>
        </div>
      </div>
      
      <button type="submit" class="btn btn-success" [disabled]="!canSubmit" id="submitId" (click)="addScenePair()">Submit</button>
      <button class="btn btn-danger" (click)="hideView()">Cancel</button>
    </form>
  </div>

</body>