.item1 { grid-area: title; }
.item2 { grid-area: image; }
.item3 { grid-area: soloTime; }
.item4 { grid-area: onlineTime; }
.item5 { grid-area: button; }

.grid-container {
  display: grid;
  grid-template-areas:
  'image image title title title title'
  'image image soloTime soloTime onlineTime onlineTime'
  'image image button button button button';
  grid-gap: 5px;
  background-color: #33343D;
  padding: 5px;
}

.grid-container > div {
  background-color: #41414E;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
