<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">
</head>

<div class="grid-container">
    <div class="title">{{gameCard.title}}</div>
    <div class="original_image" *ngIf="isSimplePov()">
      <img #image width="160" height="120" />
    </div>
    <ng-template #sceneBlock>
      <div class="original_image">
        <div #scene id="scene" width="160" height="120"></div>
      </div>
    </ng-template>
    <div class="solo_time">
      <span> Best solo times: </span>
      <ol *ngFor='let soloTime of gameCard.best_time_solo; let i = index'>
        <span> {{i+1}}: </span> {{toMinutes(i, gameCard.best_time_solo)}}
      </ol>
    </div>
    <div class="online_time">
      <span> Best 1 vs. 1 times: </span>
      <ol *ngFor='let onlineTime of gameCard.best_time_online;let i = index'>
        <span> {{i+1}}: </span> {{toMinutes(i, gameCard.best_time_online)}}
      </ol>
    </div>
    <div class="button_left">
      <button class="button" (click)="onLeftButtonClick()">{{leftButton}}</button>
    </div>
    <div class="button_right">
      <button class="button" (click)="onRightButtonClick()">{{rightButton}}</button>
    </div>
</div>