<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">
</head>

<div class="grid-container">
  <div class="title">{{gameCard.title}}</div>
  <div class="original_image">
    <div>
      <img #image width="160" height="120" />
    </div>
  </div>
  <div class="solo_time">
    <span> Best solo times: </span>
    <ol *ngFor='let soloTime of gameCard.best_time_solo; let i = index'>
      <span> {{gameCard.best_time_solo[i].name}}: </span> {{toMinutes(i, gameCard.best_time_solo)}}
    </ol>
  </div>
  <div class="online_time">
    <span> Best 1 vs. 1 times: </span>
    <ol *ngFor='let onlineTime of gameCard.best_time_online;let i = index'>
      <span>{{gameCard.best_time_online[i].name}}: {{toMinutes(i, gameCard.best_time_online)}}</span>
    </ol>
  </div>
  <div class="button_left">
    <button class="button" (click)="onLeftButtonClick()">{{leftButton}}</button>
  </div>
  <div class="button_right">
    <button class="button" (click)="onRightButtonClick()">{{rightButton}}</button>
  </div>
</div>