<body>
    <div id="wrapper">
        <div id="header">
          <div id="title">Create a solo game</div>
          <div id="info">bitmap required</div>
        </div>
        <div id="content-wrapper">
          <div id="content">
              <label for="" class="text-label">Name</label>
              <input type="file" class="file-input">
              <label for="" class="text-label">Original image</label>
              <input type="file" class="file-input">
              <label for="" class="text-label">Modified image</label>
              <input type="file" class="file-input">
          </div>
          <div id="button-wrapper">
            <button class="button-style">Submit</button>
            <button class="button-style">Cancel</button>
          </div>
        </div>
      </div>
</body>

