#ignoring .vscode folder but we keep some files for debuging
/.vscode/chrome
/.vs/

# Keep the package-lock.json !
!package-lock.json
.DS_Store

server/booba\.bmp

server/testing123\.bmp

client/src/app/games-card-view/cEdDG\.bmp

server/thumbnail\.png
