.body{
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  .global-wrapper{
    height: 50%;
    width: 100%;
    background-color: #33343D;
    border: 2px black solid;
  }
  #button-addon{
    background-color: green;
    color: white;
  }
  .btn-primary{
    margin-left: 30%;
    float: left;
    background-color: green;
  }
  .btn-default{
    color: white;
    background-color: red;
  }

  .custom-file{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
  }
  h2{
    margin-top: 10%;
    color:white;
  }
  p{
    color:white;
    margin-left: 20px;
  }
  #submitId{
    margin-right: 50px;
  }
  #gameNameInput{
    width: auto;
  }
  .btn{
    margin-bottom: 2%;
  }
  .form-control{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
  }
  #errorMessage{
    display:inline;
    margin-left: auto;
    color: red;
    font-size: 0.8em;
  }

  .custom-file-input {
    cursor: pointer;
  }