<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous">
</head>

<div class="globalWrapper">
  <div class="content">
    <p class="waitText">Please wait while we find an opponent</p>
    <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    <div class="buttonDiv">
      <button type="button" class="leaveButton btn btn-danger">Leave</button>
    </div> 
  </div>
</div>