<div id="game_wrapper">
  <div id="game_info">
    <div>
      <p> Différences trouvées: {{differenceCounterUser}}</p>
      <p *ngIf="!isSolo"> Différences trouvées adversaire: {{differenceCounterOpponent}}</p>
      <p> Chrono: </p>
    </div>
    <div>
      <p> Messages: </p>
    </div>
  </div>
  <div *ngIf="(this.gameCard.pov === POVType.Simple); then thenBlock else elseBlock"></div>
      <ng-template #thenBlock> <app-game-simple-pov></app-game-simple-pov> </ng-template>
      <ng-template #elseBlock> <app-game-free-pov></app-game-free-pov> </ng-template>
</div>