
#game_wrapper {
    width: 100%;
    height: 100%;
}

#game_info {
    height: 200px;
    display: flex;
    background-color: #33343D;
  }

#game_info > div {
    background-color: rgb(122, 119, 112);
    width: 50%;
    margin: 10px;
    text-align: center;
    font-size: 30px;
  }

#game_image_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: #33343D;
}

#image_original {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(122, 119, 112);
    width: 50%;
}

#image_modified {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

img {
    background-color: rgb(122, 119, 112);
}