<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">
</head>
<div id="game_wrapper">
  <div id="game_info">
    <div>
      <p> Différences trouvées: {{differenceCounterUser}}</p>
      <p *ngIf="!isSolo"> Différences trouvées adversaire: {{differenceCounterOpponent}}</p>
      <p> Chrono: </p>
    </div>
    <div>
      <p> Messages: </p>
    </div>
  </div>
  <div id="game_image_wrapper">
    <div id="image_original">
      <canvas id="original_canvas" width="640px" height="480px" style="border:1px solid #000000;" #originalCanvas ></canvas>
    </div>
    <div id="image_modified">
      <canvas id="modified_canvas" width="640px" height="480px" style="border:1px solid #000000;" #modifiedCanvas ></canvas>
    </div>
  </div>
  <div *ngIf="(this.gameCard.pov === POVType.Simple); then thenBlock else elseBlock"></div>
      <ng-template #thenBlock> <app-game-simple-pov></app-game-simple-pov> </ng-template>
      <ng-template #elseBlock> <app-game-free-pov></app-game-free-pov> </ng-template>
</div>