<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
  <body>
    <nav class="navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand">{{header}}</a>
        </div>
        <button type="button" class="btn btn-dark navbar-btn" (click)="isPopUpVisible = true">{{simpleMode}}</button>
        <button type="button" class="btn btn-dark navbar-btn">{{freeMode}}</button>
      </div>
    </nav>
    <app-games-list-view [isInAdminView] = "true"></app-games-list-view>
    <app-create-game-simple-view *ngIf="isPopUpVisible" ></app-create-game-simple-view>
  </body>
