.navbar-btn {
    color:#9d9d9d;
    margin-right: 5px;
    background-color: black;
}

.navbar-header {
    text-align: center;
}

.button-wrapper {
    display: flex;
    justify-content: center;
}
.container-fluid {
    width:450px;
    color:#9d9d9d;
}

body {
    max-height: 100vh;
    max-width: 100vw;
}

.navbar-static-top {
    position: fixed;
    top: 0;
    height: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: #33343D;
}

.filler {
    height: 100px;
}