
body{
  margin: 0px;
}
#game_wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #41414E;
}

#game_info {
    height: 20%;
    display: flex;
  }

#header {
    background-color: #33343D;
    width: 32%;
    margin: 8px;
    border-radius: 2%;
    border: 1px black solid;
  }

  #title_wrapper {
    text-align: center;
    width: 64%;
  }
  #message_container {
    overflow-y: visible;
    overflow-x: hidden;
    background-color: #33343D;
    width: 32%;
    margin: 8px;
    border-radius: 2%;
    float: right;
    border: 1px black solid;
  }
  .message {
    margin-bottom: 1%;
    margin-right: 100%;
    padding:2px;
    width: 80%;
    max-height: none;
    overflow-wrap: break-word;
    font-family: Arial;
    margin-left: 3%;
    float: left;
  }
  #title {
  margin-top: 1%;
  margin-bottom: 0;
  font-size: 40px;
  color: #DADAD9;
  font-weight: bold;
  }

  #POV{
    margin: 0;
    font-weight: bold;
  }
  p {
    color: white;
  }

#game_image_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 480px;
    width: 100%;
}

#game_image_wrapper > div{
  margin: auto;
}

#image_modified, #image_original {
    display: block;
    width: 640px;
    height: 480px;
}

#original_canvas, #modified_canvas {
  width: 100%;
  height: 100%;
}

#spinner_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

#spinner {
  display: inline-block;
}

#spinner_text {
  color: white;
  margin-left: 20px;
  margin-bottom: 0;
}

.timer {
  margin-bottom: 0px; 
  width: 47%;
  margin-left: 3%;
  float: left;
  color: #EDE6E3;
}

.differences {
  margin-top:3%;
  margin-left: 3%;
  margin-bottom: 0px;
  width: 47%;
  float: left;
  color: #EDE6E3;
}
#ErrorMessage {
  font-size: 25px;
  font-weight: bold;
  color: red;
  position: absolute;
  display: none;
  user-select: none;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}